.square {
    background: #fff;
    border: 1px solid #999;
    margin: -0.5px;
    padding: 0px;
}

.square:focus {
    outline: none;
}

.editorGrid {
    justify-content: center;
    background-color: #282c34;
    padding: 20px;
}

.boardRow {
    justify-content: center;
    display: flex;
}

.editorSize {
    position: fixed;
    text-align: left;
}

.outerEditorGrid {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
