body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }

.square {
    background: #fff;
    border: 1px solid #999;
    height: 34px;
    width: 34px;
    min-width: 34px;
}
  
.square:focus {
    outline: none;
}
  
.kbd-navigation .square:focus {
    background: #ddd;
}

.editorGrid {
    justify-content: center;
    background-color: #282c34;
    height: 80vh;
    width: 93vw;
    padding: 20px;
    overflow: auto;
}

.board-row {
    justify-content: center;
    display: flex;
}
