body {
  margin: 40px;
}

.editor-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  border: 1px solid black;
  height: 30px;
  width: 30px;
  margin-right: -1px;
  margin-bottom: -1px;
}

